@charset "ISO-8859-1";

	#main-section{
		margin-top: 2%;
		
	}
	 @media (min-width: 992px) {
          #intro {
            margin-top: -58.59px;
          }
        }
		@media (max-width: 992px){
			#main-section{
				margin-top: 15%;
			}
			#intro{
			height: 104.3vh;
	   		margin-top: -2rem;
			}
		}	
	
	#main{
		padding: 2% 7%;
	}
	
	.formularioPerfil .btn{
		margin: 5% 12%;
	}
	
	.eliminarCuenta{
		margin-left: 30px;
	}
	
	.mensajeError{
	 	padding: 5% 7%;	
	}